<app-slider [sliderTitulo]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <!-- <h1>{{titulo}}</h1>
        <h2 class="subheader">Peliculas</h2>
        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr> -->
        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Favoritas
            </h2>
            <h4>
                {{favorita.title | uppercase}}
            </h4>
            <h5>
                {{favorita.year | espar}}
            </h5>
            <h5>{{this.fecha | date:'dd/MM/yyyy'}}</h5>
        </div>
        <h2 class="subheader">Peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas">
                <app-pelicula [pelicula]="pelicula" (marcarFavorita)="mostrarFavorita($event)"></app-pelicula>
            </div>

        </div>

    </section>
    <app-sidebar></app-sidebar>
</div>